<% if (req.session.flash && req.session.flash.error) { %>
<div class="alert alert-danger">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
        <span aria-hidden="true">×</span>
    </button>
    <%= req.flash('error')%>
</div>
<% } %>
<% if (req.session.flash && req.session.flash.success) { %>
<div class="alert alert-success" role="alert">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
        <span aria-hidden="true">×</span>
    </button>
    <%= req.flash('success')%>
</div>
<% } %>