<div id="app">
    <!-- sidebar -->
    <% include ../global/sidebar.ejs%>
    <!-- / sidebar -->
    <div class="app-content">
        <!-- start: TOP NAVBAR -->
        <% include ../global/header.ejs%>
        <!-- end: TOP NAVBAR -->
        <div class="main-content" >
            <div class="wrap-content container" id="container">
                <!-- start: PAGE TITLE -->
                <section id="page-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="mainTitle">Edit Customer</h1>                            
                        </div>                        
                    </div>
                </section>
                <!-- end: PAGE TITLE -->
                <!-- start: FORM VALIDATION EXAMPLE 1 -->
                <div class="container-fluid container-fullw bg-white">
                    <div class="row">
                        <div class="col-md-12">   
                            <form action="/admin/customers/edit?<%=customerid%>" role="form" id="form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="errorHandler alert alert-danger no-display">
                                            <i class="fa fa-times-sign"></i> You have some form errors. Please check below.
                                        </div>
                                        <div class="successHandler alert alert-success no-display">
                                            <i class="fa fa-ok"></i> Your form validation is successful!
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                First Name <span class="symbol required"></span>
                                            </label>
                                            <input type="text" placeholder="Insert your First Name" class="form-control" id="firstname" name="firstname">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Last Name <span class="symbol required"></span>
                                            </label>
                                            <input type="text" placeholder="Insert your Last Name" class="form-control" id="lastname" name="lastname">
                                        </div>                                                                              
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Email Address <span class="symbol required"></span>
                                            </label>
                                            <input type="email" placeholder="Text Field" class="form-control" id="email" name="email">
                                        </div>  
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Sex <span class="symbol required"></span>
                                            </label>
                                            <div class="clip-radio radio-primary">
                                                <input type="radio" value="" name="gender" id="gender_female">
                                                <label for="gender_female">
                                                    Female
                                                </label>
                                                <input type="radio" value="" name="gender" id="gender_male">
                                                <label for="gender_male">
                                                    Male
                                                </label>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Profile Pic 
                                            </label>
                                            <input type="file" placeholder="Text Field" class="form-control" id="profile_pic" name="profile_pic">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <span class="symbol required"></span>Required Fields
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">                                        
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary btn-wide pull-right" type="submit">
                                            Register <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end: FORM VALIDATION EXAMPLE 1 -->
            </div>
        </div>
    </div>
    <!-- start: FOOTER -->
    <% include ../global/footer.ejs%>
    <!-- end: FOOTER -->
</div>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/form-validation.js"></script>
<script>
    jQuery(document).ready(function () {
        FormValidator.init();
    });
</script>